.header-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F5F5F5;
  font-family: 'Kanit', sans-serif;

}
.header-block-logo {
  color: black;
  font-size: 20px;
}
.navigation-ul {
  display: flex;
  justify-content: space-between;

}
.navigation-li {
  padding: 20px;
  
}
.nav-li-item {
  color: rgb(71, 70, 70);

}
.burger-bar {
  display: none;
}
.bg-image {
  width: 100%;
  height: 630px;
  background-image: url("../images/bgimage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  flex-wrap: wrap;
  background-position: left center;
}
.home-page {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
}

.right-block-home {
  /* background: grey; */
  width: 600px;
  height: 696px;

}
.rightblock-home-text1 {
  font-family: 'Labrada', serif;
  font-size: 30px;
  margin-top: 150px;
  color: rgb(99, 97, 97);
}
.rightblock-home-title {
  font-family: 'Labrada', serif;
  font-size: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.rightblock-home-text2 {
  font-family: 'Labrada', serif;
  font-size: 20px;
  color: rgb(99, 97, 97);
  
}
.rightblock-shop {
  margin-top: 30px;
  margin-bottom: 80px;
  margin-left: 220px;
  background-color: rgb(147, 147, 147);
  width: 160px;
  height: 50px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Labrada', serif;
}
.rightblock-shopnow {
  font-size: 20px;
  color: rgb(10, 9, 9);
}
/* footer */
.footer-block {
  display: flex;
  justify-content: space-around;
  height: 200px;
  background-color: #F5F5F5;
}
.footer-blockdiv {
  margin-top: 30px;
  
}
.footer-title {
  font-size: 20px;
  font-family: 'Kanit', sans-serif;
  margin-bottom: 5px;
}
.footer-blocka {
  font-size: 15px;
  color: rgb(71, 70, 70);
  font-family: 'Kanit', sans-serif;
}
/* colection section-1 */

.working-chair-div {
  max-width: 1920px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #b0d5d8;
}
.left-block-working-chair {
  margin-top: 501px;
}
.buy {
  background-color: #ffffff;
  width: 260px;
  height: 70px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.buy-text {
  font-size: 24px;
  margin-top: 17px;
}
.h-text1 {
  font-size: 24px;
  font-family: 'Labrada', serif;
}
.h-text2 {
  font-size: 48px;
  margin-top: 9px;
  margin-bottom: 19px;
  font-family: 'Labrada', serif;
}
.h-text3 {
  font-size: 24px;
  margin-bottom: 66px;
  font-family: 'Labrada', serif;
}
.buy-text{
    font-family: 'Labrada', serif;
}
.right-block-working-chair {
  margin-top: 710px;
}
/* colection section-2-1 */
.section-2 {
  max-width: 1920px;
  width: 100%;
}
.section2-head {
    margin-top: 78px;
    margin-bottom: 59px;
    font-size: 28px;
}
.section2-text {
    margin-top: 30px;
    margin-bottom: 80px;
    background-color: #ffffff;
    width: 160px;
    height: 50px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.section2-1 {
  max-width: 1650px;
  width: 100%;
  display: flex;
  font-family: 'Labrada', serif;
}
.section2-1div {
  max-width: 536px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
  margin-right: 16px;
  margin-left: 16px;
}
.lean-toofar {
  display: flex;
  justify-content: center;
  margin-top: 73px;
  margin-bottom: 81px;
  font-family: 'Labrada', serif;
  font-size: 48px;
}
.section2-1img {
  margin-top: 59px;
  margin-bottom: 30px;
}
/* colection section-2-2 */
.section2-2 {
  max-width: 1650px;
  width: 100%;
  display: flex;
  font-family: 'Labrada', serif;
}
.section2-2div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
  margin-top: 16px;
}
.grinlid {
  max-width: 1088px;
  width: 100%;
  margin-left: 16px;
  margin-right: 16px;
}
.ekebol {
  max-width: 535px;
  width: 100%;
  margin-right: 16px;
}
.section2-2img1 {
  margin-top: 59px;
  margin-bottom: 1px;
}
.section2-2img2 {
  margin-top: 59px;
  margin-bottom: 65px;
}
/* colection section-2-3 */
.section2-3 {
  max-width: 1650px;
  width: 100%;
  display: flex;
  font-family: 'Labrada', serif;
}
.section2-3div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
  margin-top: 16px;
}
.lallerod {
  max-width: 535px;
  width: 100%;
  margin-left: 16px;
}
.vejmon {
  max-width: 1088px;
  width: 100%;
  margin-left: 16px;
  margin-right: 16px;
}
.section2-3img1 {
  margin-top: 59px;
  margin-bottom: 65px;
}
.section2-3img2 {
  margin-top: 59px;
  margin-bottom: 1px;
}
.view-more {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 73px;
  margin-bottom: 81px;
  background-color: #F5F5F5;
  font-family: 'Labrada', serif;
    
}
/* about-us */
.about-us {
  display: flex;
  justify-content: space-around;
  align-items: start;
  text-align: center;
  margin-top: 30px;
}
.leftblock-about{
  width: 500px;
  height: 400px;
  
}
.furniture-makers {
  font-size: 24px;
  font-family: 'Phudu', cursive;
  
}
.furniture-makers2{
  font-size: 34px;
  font-family: 'Asap Condensed', sans-serif;
  margin-top: 30px;
  margin-bottom: 40px;

}
.furniture-makers3 {
  font-size: 18px;
  font-family: 'Caveat', cursive;

}
.right-block-about {
  width: 400px;
  
}
.rightblock-aboutimg {
  width: 100%;
}
/* about-us our-feature*/
.our-fature {
  height: 400px;
}
.our-feature-head {
  text-align: center;
  margin-bottom: 30px;
  font-size: 24px;
  font-family: 'Asap Condensed', sans-serif;
}
.feature-bloks {
  display: flex;
  justify-content: space-around;
  
}
.feature-block {
  max-width: 250px;
  width: 100%;
  height: 200px;
  align-items: center;
  text-align: center;
  background-color: rgb(239, 238, 237)
  
}
.feature-icons {
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 30px;
}
.feature-head {
  margin-bottom: 10px;
  font-size: 25px;
  color: #54c4cc;
  font-family: 'Caveat', cursive;
}
.feature-text {
  font-size: 20px;
  color: gray;
  font-family: 'Caveat', cursive;
}



